<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Login form</title>
        <link rel="stylesheet" href="style2.css">
    </head>
    <body>
<div class="login-box">
    <h1>Login</h1>
    <form action="/login" method="POST">
    <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" placeholder="Username" name="username" >
    </div>
    <div class="textbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" placeholder="Password" name="password" >
    </div>
    <input class="btn" type="submit" name="" value="Sign in">
    </form>
    <a href="/register.html">Register</a>
</div>
    
</body>
</html>